<?xml version="1.0" ?>
<model>
    <name>borg_arm_workbench</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
       <name>Diogo Alexandre Martins, Israel Cerqueira Motta Neto, Mateus Santos de Cerqueira and Pedro Paulo Ventura Tecchio </name>
      <email>israel.neto@fbter.org.br, mateus.cerqueira@fbter.org.br and pedro.tecchio@fbter.org.br</email>
    </author>
    <description></description>
</model>
